// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #30b3a8;
$indigo: #30b3a8;
$purple: #30b3a8;
$pink: #30b3a8;
$red: #30b3a8;
$orange: #30b3a8;
$yellow: #30b3a8;
$green: #30b3a8;
$teal: #30b3a8;
$cyan: #30b3a8;
